h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 45px;
}
.card {
  border: 1px solid #ddd;
  float: left;
  position: relative;
  width: 20%;
  margin: 10px 2.5% 50px 2.5%;
}

.card .stats {
  height: 60px;
}
.card img {
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
}

.card:hover {
  box-shadow: 0px 5px 10px #888888;
  transition: 1s;
}

.title {
  text-align: center;
}

.title p {
  margin: 15px auto;
  transform: translateY(15px);
  width: 100%;
}

.card:hover .overLay,
.card.comparing .overLay {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 75.5px);
  background-color: #302e2e;
  opacity: 0.7;
  width: 100%;
  opacity: 0.5;
  transition: 1s;
}

span {
  text-align: center;
  display: inline-block;
  padding: 0.7em;
  border: 1px solid white;
  position: absolute;
  top: 30%;
  font-size: 19px;
  color: white;
}

.card:hover span.compare_button,
.card:hover span.remove_button {
  display: inline-block;
}

span:hover {
  background: none;
  box-shadow: 0px 2px 10px white;
}

.notAnimation {
  font-size: 20px;
  left: 22%;
  visibility: hidden;
  width: 60%;
  transform: translateY(-40px);
  transition: linear 210ms;
}
.animation {
  left: 25%;
  width: 50%;
  display: inline;
  transform: translateY(40px);
  transition: all 200ms ease-out;
}
