table {
  clear: both;
  background: white;
  border: 2px solid #ddd;
  background: #f9f9f9;
  margin: 0px auto;
  font-family: arial, sans-serif;
  width: 95%;
}

thead tr th {
  padding: 18px;
}

td,
th {
  text-align: center;
  padding: 8px;
  border-bottom: 2px solid white;
}

.votes-bad {
  background: #e33636;
}
.votes-good {
  background: #94ea93;
}
