* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#root {
  background: #f9f9f9;
  margin: 0 auto;
  /* height: 970px; */
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}

.trailer {
  text-align: center;
}

.trailer iframe {
  margin: 20px auto;
  height: 545px;
}
