* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#root {
  background: #f9f9f9;
  max-width: 1200px;
  margin: 0 auto;
  height: 970px;
}

a {
  text-decoration: none;
}
a:visited {
  color: #6495ed;
}

.trailer {
  text-align: center;
}

.trailer iframe {
  margin: 20px auto;
  height: 545px;
}
